# .dockerignore
public/PURASALSA (3).png
public/herobackgroundbeach.mp4
public/bachatadancingcouple.mp4
public/chachachadancingcpl.mp4
public/introdancer.jpg
public/salsadancercouple.mp4
public/1.png
public/2.png
public/3.png
public/4.png
public/5.png
public/6.png
public/margie.jpg
public/Redprofilepic.svg
public/blackpropic.svg

.env
